---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Yanis Harrat"
  description="About Yanis Harrat Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.JPG"
          alt="Yanis Harrat at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            My name is Yanis, I am 20 years old and I am in my first year of web
            development at the L'Etna higher education school. I have worked on
            several web development projects, notably during Code Camps at
            L'Etna, as well as during the "swimming pool" period (intense
            examination). I also worked on school projects such as TurboHébergé,
            where I developed a complete website using various technologies and
            frameworks. In addition, I created tools for the school's intranet
            and am working on an end-of-year web development project,
            Getplannige. All these projects have demonstrated my web development
            skills and allowed me to work effectively in a team to achieve the
            projects' objectives.
          </p>
          <br />
          <p>
            As a full-stack developer, I have gained solid technical expertise
            by mastering several programming languages, frameworks, and
            development tools to create effective and scalable web applications.
            I am also proficient in project management and methodologies such as
            Agile and Waterfall to ensure efficient development processes and
            deliver projects within the set deadlines. Furthermore, I have an
            in-depth understanding of user interface design and user experience
            to create intuitive and attractive web applications.
          </p>
          <br />
          <p>
            As a team member, I am able to work collaboratively with other team
            members, solve problems creatively, and adapt to constantly changing
            environments. I am capable of understanding the needs of clients and
            end users to create web solutions tailored to their needs.
            Additionally, I have time management and task prioritization skills
            to meet deadlines and project requirements. I am also open to
            constructive feedback to continuously improve projects and
            development processes. I work with integrity and professionalism to
            uphold ethical and confidentiality standards in web development.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Isaac Newton High School : Baccalaureate Digital Systems <br />
            Higher education : L'Etna Web Development School
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            <ul>
              <li>
                Mastery of front-end programming languages: HTML, CSS, and JavaScript.
              </li>
              <li>
				Knowledge of popular front-end frameworks and libraries: React, Angular, or Vue.js.
              </li>
              <li>
                Mastery of back-end programming languages: Python, Node.js.
              </li>
              <li>
                Knowledge of popular back-end frameworks and platforms: Django, Express.js.
              </li>
              <li>
				Database management: SQL (MySQL, SQL Server) and NoSQL (MongoDB, MariaDB).
              </li>
              <li>
                Understanding of RESTful architecture principles and API creation.
              </li>
              <li>
                Knowledge of deployment tools and practices, continuous integration, and continuous delivery (CI/CD): Git, GitHub.
              </li>
              <li>
                Knowledge of Agile and Scrum methodologies for project management and teamwork.
              </li>
            </ul>
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
